@charset "utf-8";
/* CSS Document */
body{
	background: #C8C4C4;	
}
.hala33{
	height: 40px;
	width: 80px;
	background: #8B0B0D;
}	
.medo33 {
	height: 40px;
	width: 80px;
	background-color: blue;
	font-size: 15px;
	 
}